.card {
  width: 290px;
  box-shadow: 4px 4px 24px -2px #777777;
  border-radius: 10px;
  background-color: azure;
}

.pokeName {
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.pokeInfo {
  text-align: center;
}
